<aside class="sidebar">
  <div class="dashboard-title">
    <div class="logo-container">
      <img src="logo.svg" style="
          background-color: white;
          border: 1px solid black;
          border-radius: 50%;
          height: 40px;
          width: 40px;
        " alt="Logo" class="logo" />
      <div class="logo-text">GGRRHH</div>
    </div>
    <h2>Dashboard</h2>
  </div>
  <ul class="sidebar-menu">
    <li routerLink="/dashboard" routerLinkActive="active">
      <span>🏠</span> Inicio
    </li>
    <li routerLink="/colaboradores" routerLinkActive="active">
      <span>🙋‍♂️</span> Colaboradores
    </li>
    <li routerLink="/liquidaciones" routerLinkActive="active">
      <span>📄</span> Liquidaciones
    </li>
    <li routerLink="/reportes" routerLinkActive="active">
      <span>📊</span> Reportes
    </li>
    <li routerLink="/reclutamiento" routerLinkActive="active">
      <span>💼</span> Reclutamiento
    </li>
    <!-- Toggle principal -->
    <li class="has-submenu" (click)="toggleAdminLaboral()">
      <span>⚙️</span> Administración Laboral
      <span class="arrow" [class.rotate]="adminLaboralOpen">▸</span>
    </li>

    <!-- Submenú (más pequeño) -->
    <ul *ngIf="adminLaboralOpen" class="submenu">
      <li routerLink="/admin-laboral/prevision" routerLinkActive="active">Previsión</li>
      <li routerLink="/admin-laboral/tipos-contrato" routerLinkActive="active">Tipos de Contrato</li>
      <li routerLink="/admin-laboral/estructura" routerLinkActive="active">Estructura Organizacional</li>
      <li routerLink="/admin-laboral/cargas" routerLinkActive="active">Cargas Familiares</li>
      <li routerLink="/admin-laboral/asistencia" routerLinkActive="active">Asistencia</li>
    </ul>


    <li routerLink="/soporte" routerLinkActive="active">
      <span>🛠</span> Soporte
    </li>
    <li routerLink="/visualizacion" routerLinkActive="active">
      <span>👁</span> Visualización
    </li>
    <li routerLink="/ajustes" routerLinkActive="active">
      <span>🔧</span> Ajustes
    </li>
  </ul>
</aside>