<aside class="sidebar">
  <div class="dashboard-title">
    <div class="logo-container">
      <img
        src="logo.svg"
        style="
          background-color: white;
          border: 1px solid black;
          border-radius: 50%;
          height: 40px;
          width: 40px;
        "
        alt="Logo"
        class="logo"
      />
      <div class="logo-text">GGRRHH</div>
    </div>
    <h2>Dashboard</h2>
  </div>
  <ul>
    <li>🏠 Inicio</li>
    <li>📄 Nómina</li>
    <li>📊 Reportes</li>
    <li>💼 Reclutamiento</li>
    <li>🛠 Soporte</li>
    <li>👁 Visualización</li>
    <li>🔧 Ajustes</li>
  </ul>
</aside>
