.sidebar {
  background-color: #002438;
  padding: 20px;
  width: 220px;
  display: flex;
  height: 100vh;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #00f9d2;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  font-weight: 500;
  color: white;
}

.sidebar li:hover {
  background-color: #004d73;
  transform: scale(1.02);
}

.sidebar li.active {
  background-color: #007baa;
  color: #fff;
}

.sidebar-menu {
  flex: 1;
  /* 🔧 Empuja el botón hacia abajo */
  overflow-y: auto;
  /* Si hay muchos elementos, permite scroll */
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.icon {
  font-size: 20px;
  width: 24px;
  text-align: center;
}

.label {
  flex: 1;
}

.submenu {
  padding-left: 2rem;
  /* mayor indentación visual */
  margin-top: -0.5rem;
}

.submenu li {
  font-size: 0.85rem;
  padding: 0.4rem 0;
  color: #bfbfbf;
  transition: all 0.2s;
  padding-left: 3rem;
}

.submenu li:hover {
  color: white;
}

.has-submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.arrow {
  transition: transform 0.2s;
  font-size: 0.8rem;
}

.arrow.rotate {
  transform: rotate(90deg);
}

.logout-button {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 10px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background-color: #004d73;
  transition: background-color 0.3s ease, transform 0.2s;
  font-weight: 500;
}

.logout-button:hover {
  background-color: #007baa;
  transform: scale(1.02);
}