:host {
  display: block;
  background-color: #002b45;
  color: white;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
}

.barra-superior {
  text-align: center;
  margin-bottom: 1rem;

  button {
    background-color: #6c8ea6;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
  }
}

table {
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);

  thead {
    background-color: #d3d3d3;

    th {
      padding: 0.8rem;
      text-align: center;
      font-weight: 900;
      font-size: 1rem;
    }
  }

  tbody td {
    padding: 0.6rem;
    text-align: center;
  }
}
