.contentmain {
    margin: 0 !important;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #fdf6f6;

}

.left,
.right {
    padding: 2rem;
    flex: 1;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 80%;
    height: auto;
    max-height: 400px;
    transition: all 0.3s ease;
}

@media (min-width: 1024px) {
    .logo img {
        max-height: 500px;
    }
}

.logo h1 {
    font-size: 2rem;
    margin-top: 1rem;
}








.right {
    background-color: #002f53;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f7e2d9;
}

.form-title {
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 60%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 2rem;
    text-align: center;
}

.campo-password {
    position: relative;
    width: 60%;
    margin: 0.5rem auto;

    input {
        padding: 0.75rem 2.5rem 0.75rem 0.75rem;
        /* espacio para el ojo */
        border: none;
        border-radius: 2rem;
        width: 100%;
        text-align: center;
    }

    .icono-ojo {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
    }

    lucide-icon {
        width: 1.25rem;
        height: 1.25rem;
        color: #333;
    }
}

.campo-password input::placeholder {
    text-align: center;
}

.registro-text {
    margin: 2rem 0 1rem 0;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.registro-btn {
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    border: 2px solid transparent;
    border-radius: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.registro-btn:hover {
    border-color: #f77a2c;
}

@media (max-width: 768px) {
    .contentmain {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
        padding: 1rem;
    }

    input[type="text"],
    input[type="password"] {
        width: 80%;
    }




}

@media (max-width:2559px) {

    .left,
    .right {
        height: 100vh;
    }
}

@media (min-width: 2560px) {

    .left,
    .right {
        height: 100vh;
    }

    .quienes-somos {
        font-size: 5rem;
    }

    .logo img {
        height: 500px;
        width: 500px;

    }

    .logo h1 {
        font-size: 6.5rem;
        font-weight: bold;
    }

    .form-title {
        font-size: 4rem;
        letter-spacing: 2px;


    }

    input[type="text"],
    input[type="password"],
    .registro-text,
    .registro-btn {
        font-size: 2.5rem;
    }

}

.login-btn {
    background-color: #f77a2c;
    color: white;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #d56623;
}