<div class="contentmain">
  <div class="left">
    <div class="logo">
      <img src="logo.svg" alt="Logo Tigre" />
      <h1>GGRRHH</h1>
    </div>


  </div>

  <div class="right">
    <div class="form-title">INICIO DE SESIÓN COLABORADOR</div>

    <!-- Conexión con Angular -->
    <input type="text" placeholder="Correo" [(ngModel)]="loginEmail" />
    <div class="campo-password">
      <input [type]="mostrarPassword ? 'text' : 'password'" placeholder="Contraseña" [(ngModel)]="loginPassword" />
      <button type="button" class="icono-ojo" (click)="mostrarPassword = !mostrarPassword">
        <lucide-icon [name]="mostrarPassword ? 'EyeOff' : 'Eye'"></lucide-icon>
      </button>
    </div>


    <!-- Muestra error si lo hay -->
    <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>

    <!-- Botón que llama a onLogin() -->
    <button class="login-btn" (click)="onLogin()">Iniciar sesión</button>


  </div>