<div class="modal-overlay" *ngIf="visible">
  <div class="modal-content">
    <h2>Agregar Colaborador</h2>
    <form (ngSubmit)="guardar()">
      <input
        type="text"
        [(ngModel)]="nuevoEmpleado.primer_nombre"
        name="primer_nombre"
        placeholder="Primer nombre"
        required
      />
      <input
        type="text"
        [(ngModel)]="nuevoEmpleado.otros_nombres"
        name="otros_nombres"
        placeholder="Otros nombres"
      />
      <input
        type="text"
        [(ngModel)]="nuevoEmpleado.apellido_paterno"
        name="apellido_paterno"
        placeholder="Apellido paterno"
        required
      />
      <input
        type="text"
        [(ngModel)]="nuevoEmpleado.apellido_materno"
        name="apellido_materno"
        placeholder="Apellido materno"
      />
      <input
        type="text"
        [(ngModel)]="nuevoEmpleado.rut"
        name="rut"
        placeholder="RUT"
        required
      />
      <input
        type="date"
        [(ngModel)]="nuevoEmpleado.fecha_nacimiento"
        name="fecha_nacimiento"
        required
      />
      <input
        type="text"
        [(ngModel)]="nuevoEmpleado.direccion"
        name="direccion"
        placeholder="Dirección"
        required
      />
      <input
        type="text"
        [(ngModel)]="nuevoEmpleado.telefono"
        name="telefono"
        placeholder="Teléfono"
        required
      />

      <select [(ngModel)]="nuevoEmpleado.cargo" name="cargo" required>
        <option [value]="null">Selecciona un cargo</option>
        <option *ngFor="let cargo of listaCargos" [value]="cargo.id">
          {{ cargo.nombre }} ({{ cargo.nombre_departamento }})
        </option>
      </select>

      <div class="modal-buttons">
        <button type="submit">Guardar</button>
        <button type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
