.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
    background: #fefefe;
    padding: 2rem;
    margin-top: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    max-width: 100%;
    box-sizing: border-box;


    label {
        font-weight: 600;
        margin-bottom: 0.25rem;
        display: block;
        grid-column: span 2;

    }

    input,
    select {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 6px;
        border: 1px solid #ccc;
        width: 100%;
        box-sizing: border-box;
        grid-column: span 2;
    }

    input[type='file'] {
        padding: 0.2rem;
    }

    button[type='submit'] {
        grid-column: span 2;
        padding: 0.75rem;
        font-size: 1rem;
        font-weight: bold;
        background-color: #007b5e;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
            background-color: #005c46;
        }
    }
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .formulario {
        grid-template-columns: 1fr;

        label,
        input,
        select,
        button[type='submit'] {
            grid-column: span 1 !important;
        }
    }
}